.cache/
compile_commands.json

# CMake
build/
install/
CMakeUserPresets.json
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json

# vcpkg
vcpkg_installed/

# IDE specific
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln.docstates

# Compiled Object files & Precompiled Headers
*.slo
*.lo
*.o
*.obj
*.gch
*.pch

# Compiled Libraries & Executables
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app

# Fortran module files
*.mod
*.smod
